<div class="section">				
		<div class="latest-news-wrapper">
			<h1 class="section-title">Latest News</h1>	
			<div id="latest-news">
				<div class="post medium-post">
					<div class="entry-header">
						<div class="entry-thumbnail">
							<img class="img-responsive" src="assets/1.jpg" alt="" />
						</div>
						<div class="catagory politics"><span><a href="#">Politics</a></span></div>
					</div>
					<div class="post-content">								
						<div class="entry-meta">
							<ul class="list-inline">
								<li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
								<li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
								<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
							</ul>
						</div>
						<h2 class="entry-title">
							<a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
						</h2>
					</div>
				</div><!--/post--> 
				<div class="post medium-post">
					<div class="entry-header">
						<div class="entry-thumbnail">
							<img class="img-responsive" src="assets/2.jpg" alt="" />
						</div>
						<div class="catagory world"><a href="#">World</a></div>
					</div>
					<div class="post-content">								
						<div class="entry-meta">
							<ul class="list-inline">
								<li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
								<li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
								<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
							</ul>
						</div>
						<h2 class="entry-title">
							<a href="news-details.html">44 books on 44 presidents: Welcome, folks, to the Adams</a>
						</h2>
					</div>
				</div><!--/post--> 
				<div class="post medium-post">
					<div class="entry-header">
						<div class="entry-thumbnail">
							<img class="img-responsive" src="assets/4.jpg" alt="" />
						</div>
						<div class="catagory health"><span><a href="#">Health</a></span></div>
					</div>
					<div class="post-content">								
						<div class="entry-meta">
							<ul class="list-inline">
								<li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
								<li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
								<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
							</ul>
						</div>
						<h2 class="entry-title">
							<a href="news-details.html">And the most streamed Beatles song on Spotify is...</a>
						</h2>
					</div>
				</div><!--/post--> 

				<div class="post medium-post">
					<div class="entry-header">
						<div class="entry-thumbnail">
							<img class="img-responsive" src="assets/3.jpg" alt="" />
						</div>
						<div class="catagory sports"><span><a href="#">Sports</a></span></div>
					</div>
					<div class="post-content">								
						<div class="entry-meta">
							<ul class="list-inline">
								<li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
								<li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
								<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
							</ul>
						</div>
						<h2 class="entry-title">
							<a href="news-details.html">NBA suspends Matt Barnes for attack on Derek Fisher</a>
						</h2>
					</div>
				</div><!--/post--> 

				<div class="post medium-post">
					<div class="entry-header">
						<div class="entry-thumbnail">
							<img class="img-responsive" src="assets/5.jpg" alt="" />
						</div>
						<div class="catagory politics"><span><a href="#">Politics</a></span></div>
					</div>
					<div class="post-content">								
						<div class="entry-meta">
							<ul class="list-inline">
								<li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
								<li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
								<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
							</ul>
						</div>
						<h2 class="entry-title">
							<a href="news-details.html">At Facebook who suggests tags for all of your photos</a>
						</h2>
					</div>
				</div><!--/post--> 

				<div class="post medium-post">
					<div class="entry-header">
						<div class="entry-thumbnail">
							<img class="img-responsive" src="assets/6.jpg" alt="" />
						</div>
						<div class="catagory entertainment"><span><a href="#">Entertainment</a></span></div>
					</div>
					<div class="post-content">								
						<div class="entry-meta">
							<ul class="list-inline">
								<li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
								<li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
								<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
							</ul>
						</div>
						<h2 class="entry-title">
							<a href="news-details.html">Suspicion of plotting New Year's Eve attacks in Belgium</a>
						</h2>
					</div>
				</div><!--/post--> 
				<div class="post medium-post">
					<div class="entry-header">
						<div class="entry-thumbnail">
							<img class="img-responsive" src="assets/9.jpg" alt="" />
						</div>
						<div class="catagory sports"><span><a href="#">Sports</a></span></div>
					</div>
					<div class="post-content">								
						<div class="entry-meta">
							<ul class="list-inline">
								<li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
								<li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
								<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
							</ul>
						</div>
						<h2 class="entry-title">
							<a href="news-details.html">Someone has calculated the total cost of saving Matt</a>
						</h2>
					</div>
				</div><!--/post--> 

				<div class="post medium-post">
					<div class="entry-header">
						<div class="entry-thumbnail">
							<img class="img-responsive" src="assets/8.jpg" alt="" />
						</div>
						<div class="catagory politics"><span><a href="#">Politics</a></span></div>
					</div>
					<div class="post-content">								
						<div class="entry-meta">
							<ul class="list-inline">
								<li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
								<li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
								<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
							</ul>
						</div>
						<h2 class="entry-title">
							<a href="news-details.html">Homemade lightsaber made with laser can cut wires</a>
						</h2>
					</div>
				</div><!--/post--> 

				<div class="post medium-post">
					<div class="entry-header">
						<div class="entry-thumbnail">
							<img class="img-responsive" src="assets/10.jpg" alt="" />
						</div>
						<div class="catagory entertainment"><span><a href="#">Entertainment</a></span></div>
					</div>
					<div class="post-content">								
						<div class="entry-meta">
							<ul class="list-inline">
								<li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
								<li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
								<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
							</ul>
						</div>
						<h2 class="entry-title">
							<a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
						</h2>
					</div>
				</div><!--/post--> 
			</div>
		</div><!--/.latest-news-wrapper-->
	</div><!--/.section-->
