<div class="middle-content">
									<div class="section sports-section">
										<h1 class="section-title title">What's Hot</h1>

										<% @posts.each do |post| %>
											<% if post.format_post == "hot" %>
												<div class="post medium-post">
													<div class="entry-header">
														<div class="entry-thumbnail">

														<img class="img-responsive" src="assets/sports/2.jpg" alt="">
															<%#= image_tag post.image, class: "img-responsive" %>
														</div>
													</div>
													<div class="post-content">								
														<div class="entry-meta">
															<ul class="list-inline">
																<li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2015 </a></li>
																<li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
																<li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
															</ul>
														</div>
														<h2 class="entry-title">
															<%= link_to post.title, root_path %>
														</h2>
													</div>
												</div><!--/post--> 
											<% end %>
										<% end %>

									</div><!--/.sports-section -->

								<!--<div class="section">
										<div class="add inner-add">
											<a href="#"><img class="img-responsive" src="assets/add/add5.jpg" alt="" /></a>
										</div>
									</div>
									 -->

								</div><!--/.middle-content-->