<div class="section">
			<div class="row">
				<div class="site-content col-md-9">
					<div class="row">
						<div class="col-sm-8">
							<div id="home-slider">
								<div class="post feature-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<img class="img-responsive" src="assets/slider/1.jpg" alt="" />
										</div>
										<div class="catagory world"><a href="#">World</a></div>
									</div>
									<div class="post-content">								
										<div class="entry-meta">
											<ul class="list-inline">
												<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 1, 2015 </a></li>
												<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
												<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
												<li class="comments"><i class="fa fa-comment-o"></i><a href="#">189</a></li>
											</ul>
										</div>
										<h2 class="entry-title">
											<a href="news-details.html">We Are Seeing The Effects Of The Minimum Wage Rise In San Francisco</a>
										</h2>
									</div>
								</div><!--/post--> 
								<div class="post feature-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<img class="img-responsive" src="assets/slider/7.jpg" alt="" />
										</div>
										<div class="catagory sports"><a href="#">Sports</a></div>
									</div>
									<div class="post-content">								
										<div class="entry-meta">
											<ul class="list-inline">
												<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 1, 2015 </a></li>
												<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
												<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
												<li class="comments"><i class="fa fa-comment-o"></i><a href="#">189</a></li>
											</ul>
										</div>
										<h2 class="entry-title">
											<a href="news-details.html">The 20 moments in sports that tried to break the Internet in 2015</a>
										</h2>
									</div>
								</div><!--/post--> 
								<div class="post feature-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<img class="img-responsive" src="assets/slider/13.jpg" alt="" />
										</div>
										<div class="catagory entertainment"><a href="#">Entertainment</a></div>
									</div>
									<div class="post-content">								
										<div class="entry-meta">
											<ul class="list-inline">
												<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 1, 2015 </a></li>
												<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
												<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
												<li class="comments"><i class="fa fa-comment-o"></i><a href="#">189</a></li>
											</ul>
										</div>
										<h2 class="entry-title">
											<a href="news-details.html">The best games in 2015 for your new iPhone, iPad, or Android phone</a>
										</h2>
									</div>
								</div><!--/post--> 
								<div class="post feature-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<img class="img-responsive" src="assets/slider/12.jpg" alt="" />
										</div>
										<div class="catagory world"><a href="#">World</a></div>
									</div>
									<div class="post-content">								
										<div class="entry-meta">
											<ul class="list-inline">
												<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 1, 2015 </a></li>
												<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
												<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
												<li class="comments"><i class="fa fa-comment-o"></i><a href="#">189</a></li>
											</ul>
										</div>
										<h2 class="entry-title">
											<a href="news-details.html">The Force Awakens doubles previous Christmas Day record with $49.3 million box office</a>
										</h2>
									</div>
								</div><!--/post--> 
								<div class="post feature-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<img class="img-responsive" src="assets/slider/14.jpg" alt="" />
										</div>
										<div class="catagory sports"><a href="#">Sports</a></div>
									</div>
									<div class="post-content">								
										<div class="entry-meta">
											<ul class="list-inline">
												<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 1, 2015 </a></li>
												<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
												<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
												<li class="comments"><i class="fa fa-comment-o"></i><a href="#">189</a></li>
											</ul>
										</div>
										<h2 class="entry-title">
											<a href="news-details.html">Bran Stark is all grown up in new 'Game of Thrones' Season 6 photo</a>
										</h2>
									</div>
								</div><!--/post--> 
								<div class="post feature-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<img class="img-responsive" src="assets/slider/10.jpg" alt="" />
										</div>
										<div class="catagory entertainment"><a href="#">Entertainment</a></div>
									</div>
									<div class="post-content">								
										<div class="entry-meta">
											<ul class="list-inline">
												<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 1, 2015 </a></li>
												<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
												<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
												<li class="comments"><i class="fa fa-comment-o"></i><a href="#">189</a></li>
											</ul>
										</div>
										<h2 class="entry-title">
											<a href="news-details.html">Watch directors Quentin Tarantino and Paul Thomas Anderson geek out over 70mm film</a>
										</h2>
									</div>
								</div><!--/post--> 
								<div class="post feature-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<img class="img-responsive" src="assets/slider/11.jpg" alt="" />
										</div>
										<div class="catagory world"><a href="#">World</a></div>
									</div>
									<div class="post-content">								
										<div class="entry-meta">
											<ul class="list-inline">
												<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 1, 2015 </a></li>
												<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
												<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
												<li class="comments"><i class="fa fa-comment-o"></i><a href="#">189</a></li>
											</ul>
										</div>
										<h2 class="entry-title">
											<a href="news-details.html">'Affluenza' teen arrested in Mexican resort after weeks on the run</a>
										</h2>
									</div>
								</div><!--/post--> 
								<div class="post feature-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<img class="img-responsive" src="assets/slider/8.jpg" alt="" />
										</div>
										<div class="catagory sports"><a href="#">Sports</a></div>
									</div>
									<div class="post-content">								
										<div class="entry-meta">
											<ul class="list-inline">
												<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 1, 2015 </a></li>
												<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
												<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
												<li class="comments"><i class="fa fa-comment-o"></i><a href="#">189</a></li>
											</ul>
										</div>
										<h2 class="entry-title">
											<a href="news-details.html">Peyton Manning deserved a better ending -- if he's telling the truth</a>
										</h2>
									</div>
								</div><!--/post--> 
								<div class="post feature-post">
									<div class="entry-header">
										<div class="entry-thumbnail">
											<img class="img-responsive" src="assets/slider/9.jpg" alt="" />
										</div>
										<div class="catagory entertainment"><a href="#">Entertainment</a></div>
									</div>
									<div class="post-content">								
										<div class="entry-meta">
											<ul class="list-inline">
												<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 1, 2015 </a></li>
												<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
												<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
												<li class="comments"><i class="fa fa-comment-o"></i><a href="#">189</a></li>
											</ul>
										</div>
										<h2 class="entry-title">
											<a href="news-details.html">44 books on 44 presidents: Welcome, folks, to the Adams administration</a>
										</h2>
									</div>
								</div><!--/post--> 
							</div>
						</div>
						<div class="col-sm-4">
							<div class="post feature-post">
								<div class="entry-header">
									<div class="entry-thumbnail">
										<img class="img-responsive" src="assets/slider/2.jpg" alt="" />
									</div>
									<div class="catagory health"><span><a href="#">Health</a></span></div>
								</div>
								<div class="post-content">								
									<div class="entry-meta">
										<ul class="list-inline">
											<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 7, 2015 </a></li>
											<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
											<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
										</ul>
									</div>
									<h2 class="entry-title">
										<a href="news-details.html">Manhunt intensifies for fugitive in Kentucky, Tennessee</a>
									</h2>
								</div>
							</div><!--/post--> 
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="post feature-post">
								<div class="entry-header">
									<div class="entry-thumbnail">
										<img class="img-responsive" src="assets/slider/3.jpg" alt="" />
									</div>
									<div class="catagory technology"><span><a href="#">Technology</a></span></div>
								</div>
								<div class="post-content">								
									<div class="entry-meta">
										<ul class="list-inline">
											<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 2, 2015 </a></li>
											<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
											<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
										</ul>
									</div>
									<h2 class="entry-title">
										<a href="news-details.html">Japan in four gorgeous Pokémon-themed colors</a>
									</h2>
								</div>
							</div><!--/post--> 	
						</div>
						<div class="col-sm-4">
							<div class="post feature-post">
								<div class="entry-header">
									<div class="entry-thumbnail">
										<img class="img-responsive" src="assets/slider/5.jpg" alt="" />
									</div>
									<div class="catagory entertainment"><a href="#">Entertainment</a></div>
								</div>
								<div class="post-content">								
									<div class="entry-meta">
										<ul class="list-inline">
											<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 3, 2015 </a></li>
											<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
											<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
										</ul>
									</div>
									<h2 class="entry-title">
										<a href="news-details.html">We finally found out how BB-8 really works</a>
									</h2>
								</div>
							</div><!--/post--> 
						</div>
						<div class="col-sm-4">
							<div class="post feature-post">
								<div class="entry-header">
									<div class="entry-thumbnail">
										<img class="img-responsive" src="assets/slider/6.jpg" alt="" />
									</div>
									<div class="catagory politics"><span><a href="#">Politics</a></span></div>
								</div>
								<div class="post-content">								
									<div class="entry-meta">
										<ul class="list-inline">
											<li class="publish-date"><i class="fa fa-clock-o"></i><a href="#"> Nov 5, 2015 </a></li>
											<li class="views"><i class="fa fa-eye"></i><a href="#">15k</a></li>
											<li class="loves"><i class="fa fa-heart-o"></i><a href="#">278</a></li>
										</ul>
									</div>
									<h2 class="entry-title">
										<a href="news-details.html">And the most streamed Beatles song on Spotify is..</a>
									</h2>
								</div>
							</div><!--/post--> 
						</div>
					</div>
				</div><!--/#content--> 
				
				<div class="col-md-3 visible-md visible-lg">
					<div class="add featured-add">
						<a href="#"><img class="img-responsive" src="assets/add/add1.jpg" alt="" /></a>
					</div>
				</div><!--/#add--> 
			</div>
</div>
