









<div class="container">
		<%#= render 'slider' %>
		<!-- 
		<div class="section add inner-add">
			<a href="#"><img class="img-responsive" src="assets/add/add2.jpg" alt="" /></a>
		</div> -->
		
		<%#= render 'latest' %>

		<div class="section">
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<div id="sitebar">			
						<%= render 'sidebar' %>						
					</div>
				</div>
				<div class="col-md-9 col-sm-8">
					<div id="site-content">
						<div class="row">
							<div class="col-md-8 col-sm-6">
								<%= render 'middlebar' %>
							</div>
							<div class="col-md-4 col-sm-6">
								<%= render 'rightbar' %>
							</div>
						</div>
					</div>
				</div>
			</div>				
		</div>
</div><!--/.container-->


			<!--
				<div id="twitter-feed">
					<div class="container text-center">
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2">
								<div class="twitter-feeds">
									<div class="twitter-feed">
										<img class="img-responsive" src="assets/others/twitter.png" alt="" />
										<h2>#Newspress</h2>
										<p>Confusing <a href="#">#design</a> terms: what's the difference between quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">#UX, #UI and #IA? http://buff.ly/1KdjpEi  </a> </p>
									</div>
									<div class="twitter-feed">
										<img class="img-responsive" src="assets/others/twitter.png" alt="" />
										<h2>#ThemeRegion</h2>
										<p>Confusing <a href="#">#design</a> terms: what's the difference between quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">#UX, #UI and #IA? http://buff.ly/1KdjpEi  </a> </p>
									</div>
									<div class="twitter-feed">
										<img class="img-responsive" src="assets/others/twitter.png" alt="" />
										<h2>#Doors</h2>
										<p>Confusing <a href="#">#design</a> terms: what's the difference between quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">#UX, #UI and #IA? http://buff.ly/1KdjpEi  </a> </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--/#twitter-feed
			-->

		<!-- 
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="widget">
							<h1 class="section-title title">About Us</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							<address>
								<p>Address : 123 Gegrit, London, England</p>
								<p>Call : +1234-222-3333</p>
								<p>Email: <a href="#">info@newspress.com</a></p>
							</address>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="widget">
							<h1 class="section-title title">Flickr Gallery</h1>
							<ul>
								<li><a href="assets/flicker/1.jpg" class="image-link"><img class="img-responsive" src="assets/flicker/1.jpg" alt="" /></a></li>
								<li><a href="assets/flicker/2.jpg" class="image-link"><img class="img-responsive" src="assets/flicker/2.jpg" alt="" /></a></li>
								<li><a href="assets/flicker/3.jpg" class="image-link"><img class="img-responsive" src="assets/flicker/3.jpg" alt="" /></a></li>
								<li><a href="assets/flicker/4.jpg" class="image-link"><img class="img-responsive" src="assets/flicker/4.jpg" alt="" /></a></li>
								<li><a href="assets/flicker/5.jpg" class="image-link"><img class="img-responsive" src="assets/flicker/5.jpg" alt="" /></a></li>
								<li><a href="assets/flicker/6.jpg" class="image-link"><img class="img-responsive" src="assets/flicker/6.jpg" alt="" /></a></li>
								<li><a href="assets/flicker/7.jpg" class="image-link"><img class="img-responsive" src="assets/flicker/7.jpg" alt="" /></a></li>
								<li><a href="assets/flicker/8.jpg" class="image-link"><img class="img-responsive" src="assets/flicker/8.jpg" alt="" /></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="widget news-letter">
							<h1 class="section-title title">Weekly NewsLetter</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
							
							<form action="#" method="post" id="subscribe-form" name="subscribe-form">
								<input type="text" placeholder="Your E-mail" name="email">
								<button type="submit" name="subscribe" id="subscribe" >Subscribe</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.footer-widget--> 
<!--/#main-wrapper--> 

<!-- <footer id="footer">
	<div class="footer-top">
		<div class="container text-center">
			<div class="logo-icon"><img class="img-responsive" src="assets/logo-icon.png" alt="" /></div>
		</div>
	</div>

	<div class="bottom-widgets">
		<div class="container">
			<div class="col-sm-4">
				<div class="widget">
					<h2>Category</h2> 
					<ul>
						<li><a href="#">Business</a></li>
						<li><a href="#">Politics</a></li>
						<li><a href="#">Sports</a></li>
						<li><a href="#">World</a></li>
						<li><a href="#">Technology</a></li>
					</ul>
					<ul>
						<li><a href="#">Environment</a></li>
						<li><a href="#">Health</a></li>
						<li><a href="#">Entertainment</a></li>
						<li><a href="#">Lifestyle</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="widget">
					<h2>Editions</h2> 
					<ul>
						<li><a href="#">United States</a></li>
						<li><a href="#">China</a></li>
						<li><a href="#">India</a></li>
						<li><a href="#">Maxico</a></li>
						<li><a href="#">Middle East</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="widget">
					<h2>Tag</h2> 
					<ul>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">Sports</a></li>
						<li><a href="#">Featured</a></li>
						<li><a href="#">World</a></li>
						<li><a href="#">Fashion</a></li>
					</ul>
					<ul>
						<li><a href="#">Environment</a></li>
						<li><a href="#">Health</a></li>
						<li><a href="#">Entertainment</a></li>
						<li><a href="#">Lifestyle</a></li>
						<li><a href="#">Business</a></li>
					</ul>
					<ul>
						<li><a href="#">Tech</a></li>
						<li><a href="#">Movie</a></li>
						<li><a href="#">Music</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="widget">
					<h2>Products</h2> 
					<ul>
						<li><a href="#">Ebook</a></li>
						<li><a href="#">Baby Product</a></li>
						<li><a href="#">Magazine</a></li>
						<li><a href="#">Sports Elements</a></li>							
						<li><a href="#">Technology</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container text-center">
			<p><a href="#">NewsPress </a>&copy; 2015 </p>
		</div>
	</div>		
</footer>

 -->




<!-- 

<div class="subscribe-me text-center">
	<h1>Don’t Miss The Hottest News</h1>
	<h2>Subscribe our Newsletter</h2>
	<a href="#close" class="sb-close-btn"><img class="<img-responsive></img-responsive>" src="assets/others/close-button.png" alt="" /></a>
	<form action="#" method="post" id="popup-subscribe-form" name="subscribe-form">			
		<div class="input-group">
			<span class="input-group-addon"><img src="assets/others/icon-message.png" alt="" /></span>
			<input type="text" placeholder="Enter your email" name="email">
			<button type="submit" name="subscribe">Go</button>
		</div>
	</form>
</div>  

--> 





